body{
    background-color: #f6f5f0;
}
#library_Container{
    width: 75%;
    margin: 2vh auto 1vh; 
}
#Statemanger{
    width: 75%;
    margin: 2vh auto 1vh; 
}

.box{
    background-color: white;
    padding: 1vh;
    margin-bottom: 3vh;
}

.genre{
    margin: 0;
}